body{
    font-family:Helvetica;
}

.post {
    background-color: lightgray;
    border: 2px solid black;
    border-radius:10px;
    height: 100;
    width:50%;
}

.author {

    float:right;
}

.title {

    float:left;
}

.comment {
    background-color: white;
    height:60px;
}
.header {
    height:30px;
}