<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>{{ title }} - Microblog</title>
    <link rel= "stylesheet" type= "text/css" href= "./static/css/main.css">
</head>
<body>
    <h1>Hello, {{ user.username }}!</h1>
    <div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="title">
            {{ post.author.username}}
        </div>
        <div class="comment">
            {{ post.body}}
        </div>
    </div>
    </div>
    {% endfor %}

</body>
</html>